In [1]:
import sys
import numpy as np 
import pandas as pd 
from lib.db import *
from lib.utils import *
import matplotlib.pyplot as plt

## Candidates

### Read data

In [5]:
candidates_df = pd.read_csv("other_data/politcians_parties_stier_2018/candidates.utf-8.csv")
candidates_df.head()

,unique_id,name,firstname,title,namesuffix,fblink1,fblink2,twlink,isListed,list_place,...,constituency,constituency_str,state,renewed_candidacy,party,sex,age,residence,birthplace,profession
0,1,Wadephul,Johann David,Dr.,NaN,https://www.facebook.com/johann.wadephul/,NaN,https://twitter.com/JoWadephul,1,1.0,...,4.0,Rendsburg-Eckernförde,1,1,1,1,1963,Molfsee,Husum,MdB / Rechtsanwalt
1,2,Brackmann,Norbert,NaN,NaN,https://www.facebook.com/NorbertBrackmann/,https://www.facebook.com/profile.php?id=100008...,NaN,1,2.0,...,10.0,Herzogtum Lauenburg – Stormarn-Süd,1,1,1,1,1954,Lauenburg/ Elbe,Lauenburg/ Elbe,MdB / Jurist
2,3,Gädechens,Ingo,NaN,NaN,https://www.facebook.com/ingo.gaedechens,https://www.facebook.com/FanpageIngoGaedechens,NaN,1,3.0,...,9.0,Ostholstein – Stormarn-Nord,1,1,1,1,1960,Fehmarn,Lübeck,MdB / Berufssoldat a. D.
3,4,Storjohann,Gero,NaN,NaN,https://www.facebook.com/g.storjohann/,https://www.facebook.com/gero.storjohann,https://twitter.com/gero_storjohann,1,4.0,...,8.0,Segeberg – Stormarn-Mitte,1,1,1,1,1958,Seth,Bad Segeberg,MdB / Dipl.-Betriebswirt (FH)
4,5,Damerow,Astrid,NaN,NaN,https://www.facebook.com/astrid.damerow,NaN,NaN,1,5.0,...,2.0,Nordfriesland – Dithmarschen Nord,1,0,1,0,1958,Karlum,Bonndorf im Schwarzwald,geschäftsf. Gesellschafterin Coaching und Bera...

In [6]:
candidates_df.columns

Index(['unique_id', 'name', 'firstname', 'title', 'namesuffix', 'fblink1',
       'fblink2', 'twlink', 'isListed', 'list_place', 'isDC', 'constituency',
       'constituency_str', 'state', 'renewed_candidacy', 'party', 'sex', 'age',
       'residence', 'birthplace', 'profession'],
      dtype='object')

### Retrieve relevant stuff

In [13]:
import math

candidates_dict = {}
candidates_dict["twuser"] = {}
for i, twlink in enumerate(list(candidates_df.twlink)): 
    if type(twlink) == str: 
        twuser = twlink.split(".com/", 1)[1]
        candidates_dict["twuser"][twuser] = {}
        candidates_dict["twuser"][twuser]["sex"] = candidates_df.sex[i]
        candidates_dict["twuser"][twuser]["birthyear"] = candidates_df.age[i]
        candidates_dict["twuser"][twuser]["party"] = candidates_df.party[i]

In [14]:
np.unique(np.array(candidates_df.party))

array([1, 2, 3, 4, 5, 6, 7])

In [15]:
candidates_dict["encoding"] = {}

candidates_dict["encoding"]["sex"] = {}
candidates_dict["encoding"]["sex"][1] = "male"
candidates_dict["encoding"]["sex"][0] = "female"

party_encoding = [(1, "CDU"), (2, "SPD"), (3, "Linke"), (4, "Grüne"), (5, "CSU"), 
                 (6, "FDP"), (7, "AFD")]
candidates_dict["encoding"]["party"] = {p_e[0]: p_e[1] for p_e in party_encoding}

In [17]:
save_pickle("data_objects/tw_candidates.dict", candidates_dict)

## Parties

In [19]:
org_df = pd.read_csv("other_data/politcians_parties_stier_2018/twitter_organizations.utf-8.csv")
org_df.head()

        screenName group_or_party
0   _Laut_Gedacht_          media
1             3sat          media
2  aachenerzeitung          media
3       abendblatt          media
4     Abendzeitung          media

In [20]:
org_dict = {}

for twuser, org in zip(org_df.screenName, org_df.group_or_party): 
    org_dict[twuser] = org

In [21]:
save_pickle("data_objects/tw_organisations.dict", org_dict)